body
  padding-top: 5rem

.starter-template
  padding: 6.7rem 1.5rem
  text-align: center
  h1#exclamation
    padding-bottom: 0.35rem
  .bootstrap-tagsinput .tag
    margin-right: 0.25rem
    color: #444444
  button.btn.btn-dark#foodfinder
    display: inline-block
    margin: 1em 0em
    width: 15rem